li {
    min-height: 4.5rem;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

li span {
    width: 39.5rem;
    line-height: 140%;
}

@media (max-width: 768px) {
    li span {
        width: 90%;
    }

    li {
        gap: 0.5rem;
    }
}