.task {
    min-height: 4.5rem;
    background-color: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.task span {
    width: 39.5rem;
    line-height: 140%;
}

.task a {
    color: var(--gray-300);
}

.task .checked {
    color: var(--purple);
}

.task .notChecked {
    color: var(--blue);
}

.task .hidden {
    display: none;
}

@media (max-width: 768px) {
    .task span {
        width: 90%;
    }

    .task {
        gap: 0.5rem;
    }
}