.newTaskForm {
    display: flex;
    justify-content: center;
    margin-top: -1.6875rem;
    margin-bottom: 4rem;
}

.newTaskForm input[type="text"] {
    width: 39.875rem;
    height: 3.375rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    color: var(--gray-300);
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 1rem;
}

.newTaskForm button {
    width: 5.625rem;
    height: 3.375rem;
    border-radius: 0.5rem;
    border: 0;
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--gray-100);
    background-color: var(--blue-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    transition: background-color 0.1s;
}

.newTaskForm button:hover {
    background-color: var(--blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main header {
    display: flex;
    justify-content: space-between;
    width: 46rem;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
}

main header strong {
    color: var(--blue);
    font-weight: bold;
}

main header .completedCounter {
    color: var(--purple);
}

main header span {
    font-size: 0.75rem;
    padding: 2px 8px;
    color: var(--gray-200);
    background-color: var(--gray-400);
    font-weight: bold;
    margin-left: 0.5rem;
    border-radius: 999px;
}

main ul {
    width: 46rem;
    list-style-type: none;
}

main ul li {
    min-height: 4.5rem;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

main ul li span {
    width: 39.5rem;
    line-height: 140%;
}