.newTaskForm {
    display: flex;
    justify-content: center;
    margin-top: -1.6875rem;
    margin-bottom: 4rem;
}

.newTaskForm input[type="text"] {
    width: 39.875rem;
    height: 3.375rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    color: var(--gray-300);
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 1rem;
}

.newTaskForm button {
    width: 5.625rem;
    height: 3.375rem;
    border-radius: 0.5rem;
    border: 0;
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--gray-100);
    background-color: var(--blue-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    transition: background-color 0.1s;
}

.newTaskForm button:hover {
    background-color: var(--blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-100);
}

main header {
    display: flex;
    justify-content: space-between;
    width: 46rem;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
}

main header strong {
    color: var(--blue);
    font-weight: bold;
}

main header .completedCounter {
    color: var(--purple);
}

main header span {
    font-size: 0.75rem;
    padding: 2px 8px;
    color: var(--gray-200);
    background-color: var(--gray-400);
    font-weight: bold;
    margin-left: 0.5rem;
    border-radius: 999px;
}

main ul {
    width: 46rem;
    list-style-type: none;
}

.emptyList {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 140%;
    color: var(--gray-300);
}

.emptyList strong {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .wrapper {
        margin: 0 auto;
    }

    .newTaskForm button {
        width: 90%;
    }

    form {
        margin: 0 auto;
        width: 90%;
    }

    main header {
        width: 90%;
    }

    main ul {
        width: 90%;
    }
}